<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div style="width:300px;">
    <div>
        <meta name='cse:articles' content='edu.apollogrp.artifactexchange.cse.articles'>
        <% if (config.environment === 'prod') { %>
        <link rel="stylesheet" href="/styles/cse-widget.min.css?v=<%= config.hash('./.temp/styles/cse-widget.min.css') %>" />
        <% } else { %>
        <link rel="stylesheet" href="/styles/cse-widget.css?v=<%= config.hash('./.temp/styles/cse-widget.css') %>" />
        <% } %>
    </div>

    <div id="cseWidget" ng-controller="cseSuggestionsController">
        <div ng-hide="suggestions.length == 0">
            <h2 class="widget-cse__title">Articles of Interest
                <div class="widget-cse__header__scroll">
                    <i class="icon-chevron-left" ng-hide="currentPage == 0" ng-click="currentPage=currentPage-1"
                       title="scroll backward"></i>
                    <i class="icon-chevron-right" ng-hide="currentPage >= suggestions.length/pageSize - 1"
                       ng-click="currentPage=currentPage+1" title="scroll forward"></i>
                </div>

            </h2>
            <div class="widget-cse__content">
                <div class="widget-cse__content__item"
                     ng-repeat="suggestion in suggestions | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <div data-index="{{$index + (currentPage*pageSize)}}">
                        <a href="" ng-click="viewArticle($index + (currentPage*pageSize))">
                            <img ng-src="{{suggestion.imageUrl}}" class="widget-cse__content__item-title-img"/>

                            <div class="widget-cse__content__item-title">{{suggestion.title}}</div>
                        </a>

                        <div class="widget-cse__social">
                            <i class="icon-thumbs-up widget-cse__social-thumbs"
                               ng-click="voteUp($index + (currentPage*pageSize))" title="Like"><span
                                    class="widget-cse__social-count">&nbsp;{{suggestion.counters.likes}}</span></i>
                            <i class="icon-thumbs-down widget-cse__social-thumbs"
                               ng-click="voteDown($index + (currentPage*pageSize))" title="Dislike"><span
                                    class="widget-cse__social-count">&nbsp;{{suggestion.counters.dislikes}}</span></i>
                            <i class="icon-flag widget-cse__social-flag"
                               ng-click="launchFlagCommentModal($index + (currentPage*pageSize))" title="Inappropriate"></i>
                            <i class="icon-share-sign widget-cse__social-share"
                               ng-click="launchPhoenixConnectModal($index + (currentPage*pageSize))" title="Share"></i>
                        </div>
                        <div class="float-left">
                            <i class="icon-eye-open" title="{{suggestion.counters.views}} views">&nbsp;{{suggestion.counters.views}}</i>
                        </div>

                        <div class="clear-both"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% if (config.environment === 'prod') { %>
    <script src="/scripts/scripts.min.js?v=<%= config.hash('./.temp/scripts/scripts.min.js') %>"></script>
    <% } else { %>
    <script data-main="/scripts/main.js"
            src="/scripts/libs/require.js?v=<%= config.hash('./.temp/scripts/libs/require.js') %>"></script>
    <% } %>
</div>

</body>
</html>

